@import '../../styles/sassVaribales.scss';

.button {
  font-size: 30px;
}

.filled {
  background-color: var(--brand-c);
  border: none;
}

.filled:hover {
  background-color: var(--brand-c-hover);
}

.outline {
  border: 1px solid var(--t-c-alt);
  background: none;
}

.outline:hover {
  background-color: var(--t-c-alt);
  color: var(--t-c);
}

.small {
  padding: 15px 35px;
  font-size: 25px;
}

.medium {
  padding: 18px 60px;
  font-size: 22px;
  @media (max-width: $tablet) {
    padding: 12px 30px;
    font-size: 15px;
  }
}

.large {
  padding: 22px 80px;
  font-size: 28px;
  @media (max-width: $desktop) {
    padding: 15px 54px;
    font-size: 25px;
  }

  @media (max-width: $tablet) {
    padding: 12px 30px;
    font-size: 15px;
  }
}
