@import '../../styles/sassVaribales.scss';

.container {
  height: 70px;
  overflow-y: auto;
}

.list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  min-width: 768px;
  @media (max-width: $tablet) {
    justify-content: unset;
    min-width: max-content;
  }
}

.item:not(:last-child) {
  @media (max-width: $tablet) {
    margin-right: 50px;
  }
}

.item a {
  color: var(--t-c-alt) !important;
  cursor: pointer;
}

.item:hover a {
  color: #dcdcdc !important;
}
