@import '../../../styles/sassVaribales.scss';

.buttonClose {
  position: absolute;
  top: 20px;
  right: 20px;
  @media (max-width: $tablet) {
    top: 15px;
    right: 10px;
  }
  
  & svg {
    @media (max-width: $tablet) {
      width: 15px;
      height: 15px;
    }
  }
}
