@import '../../styles/sassVaribales.scss';

.section {
  height: 100vh;
  color: inherit;
  position: relative;
  background-size: cover !important;
  @media (max-width: $tablet) {
    background-position-x: center;
  }
}

.content {
  position: absolute;
  top: calc(50vh + 35px);
  transform: translateY(-50%);
}
