@import '../../styles/sassVaribales.scss';

.title {
  margin: 0 auto 60px auto;
  max-width: 700px;
  text-align: center;
  @media (max-width: $tablet) {
    margin-bottom: 35px;
    font-size: 26px;
  }
}

.del {
	position: absolute;
	top: 0;
	right: 0;
}

.content {
  color: var(--t-c);
  @media (max-width: $tablet) {
    display: block;
  }
}

.card {
	position: relative;
  @media (max-width: $tablet) {
    padding: 0 10px;
  }
}

.cardWrapper {
	display: flex !important;
	justify-content: center !important;
}

.img {
  margin-bottom: 15px;
  border-radius: 6px;
  padding-top: 50%;
  background-size: cover !important;
}

strong.name div {
  font-size: 25px;
  margin-bottom: 5px;
  display: block;
  font-weight: 700 !important;
  @media (max-width: $tablet) {
    font-size: 18px;
    font-weight: 400;
  }
}

.comment {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    font-size: 15px;
  }
}

.link {
  font-size: 22px;
  font-weight: 400;
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}
