.notEditBlock {
	position: relative;
}

.edit {
	position: absolute;
	top: 0;
	right: -10px;
	padding: 0;
}

.textarea {
	border: none;
	outline: none;
}

.btnSuccess {
	background: green;
	margin-right: 5px;
}

.btnError {
	background: brown;
}

.btn {
	font-size: 15px;
	margin-top: 10px;
	border-radius: 2px;
	padding: 5px 10px;
}
