.notEditBlock {
	position: relative;
	width: fit-content;
	font-weight: 300;
}

.editBlock {
	font-weight: 300;
}

.edit {
	position: absolute;
	top: 0;
	right: -15px;
	padding: 0;
}

.textarea {
	border: none;
	outline: none;
	width: fit-content;
}

.btnSuccess {
	background: green;
	margin-right: 5px;
}

.btnError {
	background: brown;
}

.btn {
	font-size: 15px;
	margin-top: 10px;
	border-radius: 2px;
	padding: 5px 10px;
}
