@import './sassVaribales.scss';

@font-face {
  font-family: "Muller";
  src:
    url("/fonts/muller/MullerUltraLight.woff"),
    url("/fonts/muller/MullerUltraLight.woff2");
  font-style: light;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src:
    url("/fonts/muller/MullerLight.woff"),
    url("/fonts/muller/MullerLight.woff2");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src:
    url("/fonts/muller/MullerRegular.woff"),
    url("/fonts/muller/MullerRegular.woff2");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

span {
	word-break: break-all;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Muller, sans-serif;
  font-weight: 300;
  color: var(--t-c-alt);
  line-height: 1.17;
}

.eb {
	background: #0f0f0f;
	border-radius: 1px;
	font-size: 14px;
	padding: 7px 15px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

body {
	overflow-x: hidden;
}

a {
  color: var(--brand-c);
  text-decoration: none;
}

strong {
  font-weight: 400;
}

p {
  margin: 0;
}

h1 {
  font-size: 40px;
	line-height: 1.1 !important;
  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

h2 {
  color: var(--t-c);
  font-size: 45px;
  @media (max-width: $desktop) {
    font-size: 40px;
  }
  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

h3 {
  font-size: 42px;
  @media (max-width: $desktop) {
    font-size: 35px;
  }
  @media (max-width: $tablet) {
    font-size: 25px;
  }
}

h4 {
  font-size: 40px;
  @media (max-width: $desktop) {
    font-size: 35px;
  }
  @media (max-width: $tablet) {
    font-size: 25px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: 400;
  background: none;
  border: none;
  @media (max-width: $tablet) {
    border-radius: 3px;
  }
}

.popupContent {
  width: 1200px;
  border-radius: 3px;
  background-color: white;
  padding: 70px 50px;
  color: var(--t-c);
  @media (max-width: $desktop) {
    width: calc(100vw - 20px);
  }

  @media (max-width: $tablet) {
    width: 100vw;
    padding: 50px 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  border-radius: 10px;
}
