@import './sassVaribales.scss';

.logo {
  width: 200px;
  margin-bottom: 40px;
  display: block;
  @media (max-width: $tablet) {
    width: 100px;
    margin-bottom: 10px;
  }
}

.title {
  max-width: 700px;
  margin-bottom: 35px;
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

.cellContainer {
  padding: 50px 50px 10px 70px;
  padding: 0 50px 0 70px;
  @media (max-width: $desktop) {
    padding: 0 30px 0 40px;
  }
  @media (max-width: $tablet) {
    padding: 0 30px 0 30px;
  }
}

.cellDate {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  @media (max-width: $tablet) {
    font-size: 14px;
  }
}

.cellTitle {
  margin-bottom: 8px;
  line-height: 1.05;
}

.cellDescription {
  font-size: 20px;
  margin-bottom: 25px;
  max-width: 450px;
  @media (max-width: $tablet) {
    font-size: 16px;
  }
}

.slide {
  height: fit-content;
  width: 600px;
  padding: 0 20px;
  @media (max-width: $tablet) {
    padding: 0 10px;
  }
}

.slideImg {
  background-size: cover !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 45%;
  max-width: 100%;
}

.slideTextContainer {
  background-color: rgba(31 183 196 / 0.10);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--t-c);
  justify-content: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 270px;
  max-width: 100%;
  padding: 0 50px;
  @media (max-width: $tablet) {
    padding: 20px 22px;
    height: 240px;
  }
}

.slideSectionTitle {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
  @media (max-width: $tablet) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.slideSection {
  padding: 50px 0 30px 0;
  @media (max-width: $tablet) {
    padding: 40px 0 40px 0;
  }
}

.slideTitle {
  font-size: 32px;
  max-width: 800px;
  margin-bottom: 20px;
  @media (max-width: $tablet) {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.slideDescription {
  max-width: 700px;
  font-size: 22px;
  font-weight: 200;
  @media (max-width: $tablet) {
    font-size: 12px;
  }
}
