@import '../../../styles/sassVaribales.scss';

.popupContent {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  width: fit-content;
}

.text {
  padding: 50px 50px 50px 50px;
  font-size: 18px;
  @media (max-width: $tablet) {
    padding: 30px 20px;
  }
}

.title {
  margin-bottom: 5px;
  font-size: 30px;
  @media (max-width: $tablet) {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
  }
}

.desc {
  max-width: 750px;
  max-height: 400px;
  overflow: auto;
  @media (max-width: $tablet) {
    font-size: 15px;
  }
}

.buttonClose {
  position: absolute;
  top: 20px;
  right: 20px;
  @media (max-width: $tablet) {
    top: 15px;
    right: 10px;
  }
  
  & svg {
    @media (max-width: $tablet) {
      width: 15px;
      height: 15px;
    }
  }
}

.price {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: baseline;
  margin-top: 10px;
}

.price svg {
  transform: translateY(2px);
  @media (max-width: $tablet) {
    transform: translateY(3px);
  }
}

.sum {
  font-size: 23px;
  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

.goFurther {
  margin-top: 15px;
}
